/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end */

*{
    font-family: 'Roboto Mono';
    border: 0.05px;
    
}


h1{
    font-family: 'Chelsea Market';
    font-size: 50px;
    text-align: center;
}

nav{
    display: flex;
  justify-content: space-between;
  padding: 10%;
}


.box{
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    padding: 20px;
    

}

.paragraph{
    text-align: center;
}

footer{
    background-color: #F9E7DC;
    padding: 20px;
    display: flex;
  justify-content: space-between;
    
}


#logo-left{
    border-radius: 50%;
    width: 25%;
    height: auto;
    float: left;
    margin: 20px;
    

}

#logo-right{
   text-align: center; 
    top: 164px;
    left: 76px;
    letter-spacing: 1.2px;
    padding: 20px;

}

#logobot{
   
}

#fire{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

#truck{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;

}

.plan{
    background-color: #FF764E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 110px;
    height: 45px;
}

.learn{
    background-color: #5ED3EB;
    color: white; 
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 110px;
    height: 45px;
} 

.involve{
    background-color: #FFCD69;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 110px;
    height: 45px;
}